.box {
    border: 1px solid rgb(124, 4, 34);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 20%);
    gap: 40px;
    width: 100%;
    justify-content: center;
  
}
img {
    width: 100%;
}